{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Protética Carol</title>

    <meta name="description" content="Página de apresentação da Protética">
    <meta name="author" content="LayoutIt!">
	<link rel="icon" type="image/jpg" href="{% static 'img/favicon.jpg' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"><script src="js/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'base:home' %}">Protética Carol</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
						<li class="nav-item active">
							 <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							 <a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								 <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
								<div class="dropdown-divider">
								</div> <a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
					</ul>
					<form class="form-inline">
						<input class="form-control mr-sm-2" type="text"> 
						<button class="btn btn-primary my-2 my-sm-0" type="submit">
							Search
						</button>
					</form>
					<ul class="navbar-nav ml-md-auto">
						<li class="nav-item active">
							 <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item dropdown">
							 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
								 <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
								<div class="dropdown-divider">
								</div> <a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<div class="jumbotron">
				<h2>
					Organizando sua produção laboratorial com Caroline Pereira Eusébio.
				</h2>
				<p>
					Confira em breve mais informações sobre os trabalhos feitos por Caroline, na organização da produção laboratorial de protese dentária e como poder-lhe-á ajudar a deixar o seu laboratório organizado para melhor atender o seu cliente
				</p>
			</div>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre a Protética
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/carol.jpeg' %}" alt="Foto de Caroline pereira Eusébio Coelho"
							 class="img-thumbnail float-start me-3"/>
						Caroline é protética cadista (CAD/CAM), trabalhou no laboratório de Prótese Ararangua por mais
						de 10 anos, onde lá, solidificou a sua carreira como protética, implementando vários conceitos
						organizacionais de produção, onde quase triplicou o faturamento mensal da empresa, com uma visão
						técnológica implementou o CAD/CAM, e atualmente está a aperfeiçoar o seu conhecimento na
						Produção de Próteses Dentária Digital.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


  </body>
</html>